@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&family=Space+Mono&display=swap');

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: yellow;
  background-image: url("../assets/galaxy.png");
  background-size: cover;        /* fills entire screen */
  background-position: center;   /* keeps it centered */
  background-repeat: no-repeat;  /* prevents tiling */
  background-attachment: fixed;  /* optional: parallax effect */
}

nav {
  background: black;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav input {
  width: 40%;
  padding: 8px;
}

/* Header */
header {
  text-align: center;
  padding: 20px;
  font-family: space, monospace
}

footer {
  background: black;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Controls */
.search {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: center;
}



/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Card */
.card {
  background: #1e1e1e;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* Image */
.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Content */
.card-content {
  padding: 15px;
}

.card h3 {
  margin: 0 0 10px;
}

.card p {
  font-size: 14px;
  color: #ccc;
  font-family: "Bebas Neue", sans-serif;
}

/* Button */
.buttons {
  margin-top: 10px;
}

.buttons a {
  text-decoration: none;
  padding: 8px 12px;
  background: #4CAF50;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  display: inline-block;
  transition: background 0.2s;
}

.buttons a:hover {
  background: #45a049;
}
